<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itformacion.mybatis101.DiscountMapper">
    <select id="showDiscounts" resultType="com.itformacion.mybatis101.Discount">
        select * from APP.DISCOUNT_CODE
    </select>
</mapper>
